@import "styles/variables";

@keyframes confirm-button {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(150%);
    }
}


@keyframes cancel-button {
    0% {
        background-color: $light-gray;
        color: $dark;
    }

    100% {
        background-color: $dark;
        color: $light-gray;
    }
}

.modal-date-picker {
    justify-content: center;
    margin: 40px auto;
}

.modal-confirm-button {
    height: 30px;
}

.detail-page {
    & .page-title {
        margin: 0 !important;
    }

    & .content-container {
        width: 70%;
        height: fit-content;
        margin: auto;
        margin-top: 8cqb;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 600px));
        gap: 50px;
        font-family: 'Inter';
        color: $dark;
        padding-bottom: 8cqb;

        & h1 {
            font-weight: 400;
        }

        & h3 {
            font-weight: 200;
            margin: 20px 0;
            font-size: 20px;
        }

        & h4 {
            font-weight: 200;
            font-size: 18px;
        }

        & div {
            align-items: center;
            border-radius: 10px;
            filter: drop-shadow(0 5px 5px rgba($unselected-dark, 0.05));
            display: flex;

            & img {
                filter: drop-shadow(0 5px 5px rgba($unselected-dark, 0.05));
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }

        &-image-right {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        & .title {
            background-color: $white;
            padding-left: 20px;
            width: 100%;
            justify-content: center;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 30px;
        }

        & .description {
            box-sizing: border-box;
            width: 100%;
            background-color: $white;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: grid;
            gap: 15px;
            padding: 15px;
            grid-template-columns: repeat(auto-fit, minmax(75px, 30%));

            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            & h3 {
                margin: 5px 0;
                font-weight: 300;
            }
        }

        & .price {
            background-color: $white;
            padding-left: 20px;
            width: 100%;
        }

        & .owner-info {
            background-color: $white;
            padding-left: 20px;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;

            &-name {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            &-stars {
                justify-self: right;
                display: flex;
                flex-direction: row;
                gap: 5px;
                margin-right: 20px;
            }

            &-star-icon {
                width: 24px !important;
                height: 24px !important;
            }

            & img {
                width: 35px;
                height: 35px;
                border-radius: 600px;
            }
        }

        & .image-bottom-agroup {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: space-between;
        }

        & .map-area {
            height: 300px;
            background-color: $white;
            width: 100%;
        }

        & .confirm-button {
            height: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $light-gray;
            background-color: $dark;
            width: 100%;

            & h1 {
                font-weight: 200;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &:hover {
                animation-name: confirm-button;
                animation-duration: 0.5s;

                & .backtext {
                    font-size: 55px;
                    filter: brightness(145%);
                    display: block;
                    animation-name: letter-confirm;
                    animation-duration: 0.5s;
                    letter-spacing: 40px;
                }

                filter: brightness(150%);
            }

            & .backtext {
                letter-spacing: -20px;
                color: $dark;
                display: none;
                position: absolute;
                z-index: -1;
            }
        }

        & .cancel-button {
            align-items: center;
            height: 50px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            background-color: $light-gray;
            outline: 1px solid;
            width: 100%;

            & h1 {
                font-weight: 200;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &:hover {
                animation-name: cancel-button;
                animation-duration: .5s;
                background-color: $dark;
                color: $light-gray;
            }
        }

    }
}